[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
nbconvert = "*"
flask-debugtoolbar = "*"
toml = "*"
feedgenerator = "*"
django-jsonfeed = "*"
frozen-flask = "*"
sh = "*"


[dev-packages]

