[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
nbconvert = "*"
Flask-DebugToolbar = "*"
toml = "*"
feedgenerator = "*"
django-jsonfeed = "*"
Frozen-Flask = "*"
requests = "*"
python-dateutil = "*"
flask-webpack = "*"
python-dotenv = "*"
sentry-sdk = "*"

[required]
python_version = ">=3.6"
